{% load staticfiles %}
<link rel="stylesheet" href="/static/log.css" />
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body >
     <div id="header"">
      <h1>超码</h1>
      </div>
      
    <div class="user" style="TEXT-ALIGN: right">
        {% if request.user.is_authenticated %}
        你好 {{ request.user.first_name }},{{ request.user.username }},<a href="{% url 'logout' %}">退出</a>
            {% else %}
            <a href="{% url 'login' %}">登陆</a>
        {% endif %}
    </div><hr />
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
     Copyright @ UNTITLED
     </div>
</body>
</html>