{%load static%}
<link rel="stylesheet" href="/static/log.css" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <style>
          .main{
            background:url("media/img/market2.jpg") no-repeat;
            background-size:100% 100%;
            -moz-background-size:100% 100%;
        }
    </style>
</head>
<title>
	超市信息 — 欢迎登陆
</title>
<body>
  <div class = "pg_header">
        <!--<a class = "logo">LOGO</a>-->
        <img class="i1" src="media/img/logo.png"  />
        <a class="pg_dl" id="i77">欢迎登录</a>
    </div>
    <div class="main">
    <div class="login">
    <!--<img class="i2" src="{%static "/market2.jpg"%}" width="500" height="500" />-->
        <form action="" method="post"  enctype="multipart/form-data">
      {{ form.as_p }}
      {% csrf_token %}

            <div class="btn">
                <div>
                    <a id='a1' href="#">忘记密码?</a>    
                    <a id='a2' href="http://127.0.0.1:8000/account/register">注册</a>
                    <button type ='submit'>登录</button>
                </div>
            </div>
        </form>
    </div>
    </div>
</body>
</html>
