<link rel="stylesheet" href="/static/reg.css" />
{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
    <title>添加商品</title>
<style>
</style>
    <div class="pg_body">
    <h2>添加商品</h2>
        <div class="menu">商品名:
        </div>
        <div class="kong">
            <input id="text1" type="text" name="name"><span id="div11" class="tian" style="margin-top: 4px"><span>
        </div>  
        <div class="menu">分类:
        </div>
        <div class="kong">
            <input id="i5" type="text" name="kind">
        </div>
        <div class="menu">上传商品图片:
        </div>
        <div class="kong">
            <input type="file" name="file" value="img" accept="image/*">
        </div> 
        <div class="menu">价格:
        </div>
        <div class="kong">
            <input id="text4" type="text" name="price">
            <span id="div4" class="tian"><span>
        </div>       
        <div class="menu">商品描述:
        </div>
        <div class="kong">
            <input name="meno" style="width: 200px;height: 100px;">
        </div>
    </div>
<div class="can">
    <hr>
            <input id="i111" type="submit" name="002" value="保 存">
            <input id="i222" type="submit" name="004" value="取 消" onclick="javascript:history.back();">
        </div>
{% endblock %}