{%load static%}
<link rel="stylesheet" href="/static/reg.css" />
<!DOCTYPE html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    </style>
    <script>
   function clicka1(){
        document.getElementById("div22").style.display = "none";//隐藏
        document.getElementById("div33").style.display = "none";//隐藏
        document.getElementById("div11").style.display = "block";//显示
    }
    function clicka2(){
        document.getElementById("div11").style.display = "none";//隐藏
        document.getElementById("div33").style.display = "none";//隐藏
        document.getElementById("div22").style.display = "block";//显示
    }
    function clicka3(){
        document.getElementById("div11").style.display = "none";//隐藏
        document.getElementById("div22").style.display = "none";//隐藏
        document.getElementById("div33").style.display = "block";//显示
    }
    </script>
</head>
<body>
    <div class="pg_header">
        <!--<img class="i1" src="{%static "/sign.jpg"%}" style="margin-left:-6%"  width="111" height="111" />-->
        <img class="hh1" src="media/img/logo.png"  />
         <a class="pg_dl" id="i78" href="http://127.0.0.1:8000/login">首页</a>
    </div>
    <div class="bodyy">
        <div class ="bo3" >
            <h3>个人中心</h3>
            <li><a class="aa" onclick="clicka1()">我的资料</a></li>
            <br>
            <li><a class="aa" onclick="clicka2()">我的超市</a></li>
            <br>
            <li><a class="aa" onclick="clicka3()">活动信息</a></li>
        </div>
        <div class="div1" id="div11">
        <br><br><br> <br>
            <div class="pg_body">
            
                <div class="menu">用户名:
                </div>
                <div class="kong">
                    <input id="text1" type="text" name="username" value={{i.username}}><span id="div11" class="tian" style="margin-top: 4px"><span>
                </div>  
                <div class="menu">性别:
                </div>
                <div class="kong" style="width:200px;">
                {% if i.gender == 'M' %}
                    男<input type="radio" name="sex" value="1" checked>
                    女 <input type="radio" name="sex" value="2">
                {% else %}
                    男<input type="radio" name="sex" value="1">
                    女 <input type="radio" name="sex" value="2" checked>
                {% endif %}
                </div>
                <div class="menu">电话号码:
                </div>
                <div class="kong">
                    <input id="i5" type="text" name="phonenumber" value={{i.phonenumber}}>
                </div>
                <div class="menu">邮箱地址:
                </div>
                <div class="kong">
                    <input id="text4" type="text" name="01" value={{i.email}}>
                    <span id="div4" class="tian"><span>
                </div>
                <div class="menu">头像:    
                </div>
                <div class="kong">
                    <input type="file" name="file" value="选择头像" accept="image/*">
                </div>        
                <div class="menu">个人签名:
                </div>
                <div class="kong">
                    <input name="meno" style="width: 280px;height: 40px;" value={{i.signature}}>
                    </input>
                </div>
                <div class="can">
                    <hr>
                    <input id="i111" type="submit" name="002" value="保 存">
                     <p style="width: 100px;display: inline-block;"></p>
                    <input id="i222" type="submit" name="004" value="返 回" onclick="javascript:history.back();">
                </div>
            </div>
        </div>
        <div class="div2" id="div22" style="display: none;">
        <br><br><br> <br><br><br>
            <div class="pg_body">
                <div class="menu">超市名:
                </div>
                <div class="kong">
                    <input id="text1" type="text" name="username" value={{j.marketname}}><span id="div12" class="tian" style="margin-top: 4px"><span>
                </div>
                <div class="menu">超市图片: 
                </div>
                <div class="kong">
                    <br>
                    <input type="file" name="file" value="选择头像" accept="image/*">
                </div> 
                <div class="can">
                    <input id="i111" type="submit" name="002" value="保 存">
                                         <p style="width: 100px;display: inline-block;"></p>
                    <input id="i222" type="submit" name="004" value="返 回" onclick="javascript:history.back();">
                </div>       
            </div>
        </div>
        <div class="div3" id="div33" style="display: none;">
        <br><br><br> <br><br><br>
            <div class="pg_body">
                <div class="menu">活动信息:
                </div>
                <div class="kong">
                    <input id="text1" type="text" name="username" value={{j.activityTXT}}><span id="div13" class="tian" style="margin-top: 4px"><span>
                </div>
                <br><br><br><br>
                <div class="menu">
                <div class="kong"><input type="file" name="file" value="选择文件" accept="image/*"></div>
                <br>
                折扣信息:
                </div>
                <div class="kong">
                    <input id="text1" type="text" name="username" value={{j.countTXT}}><span id="div13" class="tian" style="margin-top: 4px"><span>
                </div>
                <br><br><br><br><br>
                <div class="kong"><input type="file" name="file" value="选择文件" accept="image/*"></div>
                <div class="can">
                    <input id="i111" type="submit" name="002" value="保 存">
                                         <p style="width: 100px;display: inline-block;"></p>
                    <input id="i222" type="submit" name="004" value="返 回" onclick="javascript:history.back();">
                </div>
            </div>
        </div>
    </div>
</body>
</html>